
 @font-face { font-display: swap; font-style : bold; src: url("assets/fonts/IBMPlexMonoBold.ttf"); font-family : "IBM Plex Mono"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/IBMPlexMonoRegular.ttf"); font-family : "IBM Plex Mono"; font-weight : 400;  }